
.gallery {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction:row;

}

.what {
    background-color: black;
    display: flex;
    height: 150px;
    justify-content: center;
}
