* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 3rem;
  }
  
  .containerS {
    display: flex;
    border-color: #6c6461;
    border-style: solid;
    flex-wrap: nowrap;
    border-width: 20px;
    width: 942px;
    
  }
  
  .containerOne {
    border-right-color: #6c6461;
    border-right-style: solid;
    border-right-width: 20px;
    width: 470px;
    background-color: #72d5b4;
  }

        .box {
            background-color: #72d5b4;
            height: 400px;
            width: 450px;
        }

  .containerTwo {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    background-color: #72d5b4;
    width: 470px;
  }

    .containerTwoA {
        width: 400px;
        display: flex;
        border-color: #6c6461;
        border-width: 20px;

  }

        .boxb {
            background-color: #72d5b4;
            width: 400px;
        }

  
  
  

    .containerTwoB {
        width: 400px;
        display: flex;
        background-color: #72d5b4;
        border-right-color: #6c6461;
        border-right-width: 20px;
    }

        .boxc {
            background-color: #72d5b4;
            width: 200px;
            border-right-color: #6c6461;
            border-right-width: 20px;
        }

        .boxd {
            background-color: #72d5b4;
            width: 200px;
        }

    .containerTwoC {
        width: 450px;
        display: flex;
        border-right-color: #6c6461;
        border-right-width: 20px;
        background-color: #72d5b4;
    }
        .boxe {
            background-color: #72d5b4;
            width: 400px;
        }