html,
body {
  height: 100%;
}

h1,
h2 {
  text-align: center;
}
body {
  background-image: url("background.png");
  background-position: center;
  background-repeat: no-repeat;
}

#nav {
  text-align: center;
  place-items: center;
  position: relative;
}
